<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{value|safe}});
  
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                         { calc: "stringify",
                           sourceColumn: 1,
                           type: "string",
                           role: "annotation" },
                         2]);
  
        var options = {
          title: {{title|safe}},
          width: 600,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
    </script>
</head>
<body>
    <table border="1" align="center" width="800">
        <thead>
            <tr>
                <th>Province</th>
                <th>Cases</th>
                <th>Deaths</th>
                <th>ICU</th>
            </tr>
        </thead>
        <tbody>
            {% for region in data.data %}
            <tr>
                <td>{{region.region}}</td>
                <td>{{region.cases}}</td>
                <td>{{region.deaths}}</td>
                <td>{{region.icu}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
      </body>
</body>
</html>